<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>

<!--https://ibb.co/dAGb0k-->
<!--https://ibb.co/bEkrY5-->
<!--https://ibb.co/j7p76Q-->
<!--https://ibb.co/j8Nifk-->
<!--https://ibb.co/hVbn6Q-->
<!--https://ibb.co/caRn6Q-->
<!--https://ibb.co/i3mWY5-->
<!--https://ibb.co/h9X5t5-->
<!--https://ibb.co/k8r9Lk-->
<!--https://ibb.co/gQrWY5-->
<!--https://ibb.co/ebtdD5-->
<!--https://ibb.co/cpcS6Q-->

<table class="body">
  <tr>
    <td>
      <center>
        <container>
          <row>
            <columns small="12" large="12" class="no-padding_gor">
              <p class="header-top tiny-text">Летние скидки приближаются!</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="6" class="no-padding_vert"><a class="main-logo" href="#"><img src="https://image.ibb.co/cWuULk/logo.png" alt="logo"></a></columns>
            <columns small="6" large="4" class="no-padding_vert">
              <a class="header-phone" href="tel:0673984617">067-398-46-17</a>
              <a class="header-phone" href="tel:0665219728">066-521-97-28</a>
            </columns>
            <columns small="6" large="2" class="no-padding_vert header-profile">
              <a class="header-link header-link_user" href="#"><img src="https://image.ibb.co/fBhS6Q/man_icon.png" alt="man"></a>
              <a class="header-link header-link_cart" href="#"><img src="https://image.ibb.co/bVx5t5/cart_icon.png" alt="cart"></a>
            </columns>
          </row>
          <row>
            <columns small="12" large="12" class="no-padding_gor banner">
              <img src="https://image.ibb.co/gKbWY5/main_pic.png" alt="main.pic">
            </columns>
          </row>
          <row>
            <columns small="12" large="12">
              <p class="main-txt">Приближается лето, а вместе с ним и каникулы! Дайте возможность детям провести его весело и нтересно ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </p>
            </columns>
          </row>
        </container>
        <container>
          <row>
            <columns small="12" large="12" class="no-padding_gor">
              <center><h2 class="text-center section-heading">Рекомендуемые товары</h2></center>
            </columns>
          </row>
          <row>
            <columns small="12" large="4" class="product">
              <center>
                <a href="#">
                  <img class="product-image text-center" src="https://image.ibb.co/d0JOfk/recommendations_item_1.png" alt="recommendations-item-1.png">
                  <p class="product-description text-center">Іграшка "Тачка ТехноК" арт. 1226</p>
                  <p class="product-price text-center">78.00 грн</p>
                </a>
              </center>
            </columns>
            <columns small="12" large="4" class="product">
              <center>
                <a href="#">
                  <img class="product-image text-center" src="https://image.ibb.co/ki53fk/recommendations_item_2.png" alt="recommendations-item-2.png">
                  <p class="product-description text-center">Бутылка с широким горлышком Easystart-Newborn</p>
                  <p class="product-price text-center">82.12 грн</p>
                </a>
              </center>
            </columns>
            <columns small="12" large="4" class="product">
              <center>
                <a href="#">
                  <img class="product-image text-center" src="https://image.ibb.co/kV976Q/recommendations_item_3.png" alt="recommendations-item-3.png">
                  <p class="product-description text-center">Антистресова іграшка м`яконабивна "SOFT TOYS 43</p>
                  <p class="product-price text-center">165.30 грн</p>
                </a>
              </center>
            </columns>
          </row>
          <row>
            <columns small="12" large="12">
              <center><p class="text-center more-wrapper"><button class="more-btn" href="#">Показать все</button></p></center>
            </columns>
          </row>
          <row>
            <columns small="12" large="12" class="no-padding_gor">
              <center><h2 class="text-center section-heading">Популярные товары</h2></center>
            </columns>
          </row>
          <row>
            <columns small="12" large="4" class="product">
              <center>
                <a href="#">
                  <img class="product-image text-center" src="https://image.ibb.co/gGNG0k/recommendations_item_4.png" alt="recommendations-item-4.png">
                  <p class="product-description text-center">Іграшка "Тачка ТехноК" арт. 1226</p>
                  <p class="product-price text-center">78.00 грн</p>
                </a>
              </center>
            </columns>
            <columns small="12" large="4" class="product">
              <center>
                <a href="#">
                  <img class="product-image text-center" src="https://image.ibb.co/mnCG0k/recommendations_item_5.png" alt="recommendations-item-5.png">
                  <p class="product-description text-center">Бутылка с широким горлышком Easystart-Newborn</p>
                  <p class="product-price text-center">82.12 грн</p>
                </a>
              </center>
            </columns>
            <columns small="12" large="4" class="product">
              <center>
                <a href="#">
                  <img class="product-image text-center" src="https://image.ibb.co/bXQEmQ/recommendations_item_6.png" alt="recommendations-item-6.png">
                  <p class="product-description text-center">Антистресова іграшка м`яконабивна "SOFT TOYS 43</p>
                  <p class="product-price text-center">165.30 грн</p>
                </a>
              </center>
            </columns>
          </row>
          <row>
            <columns small="12" large="12">
              <center><p class="text-center more-wrapper"><button class="more-btn" href="#">Показать все</button></p></center>
            </columns>
          </row>
          <row>
            <columns small="12" large="12" class="no-padding_gor">
              <center><h2 class="text-center section-heading">Каталог товаров</h2></center>
            </columns>
          </row>
          <row>
            <columns small="6" large="4">
              <ul class="custom-list catalog-list">
                <li><a href="#">Новинки</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Конструкторы</a></li>
                <li><a href="#">Для малышей</a></li>
                <li><a href="#">Для девочек</a></li>
                <li><a href="#">Для мальчиков</a></li>
                <li><a href="#">Мягкие игрушки</a></li>
                <li><a href="#">Развивающие игрушки</a></li>
                <li><a href="#">Настольные </a></li>
                <li><a href="#">Творчество</a></li>
              </ul>
            </columns>
            <columns small="6" large="4">
              <ul class="custom-list catalog-list">
                <li><a href="#">Канцелярия</a></li>
                <li><a href="#">Книги</a></li>
                <li><a href="#">Разукраски</a></li>
                <li><a href="#">Спорттовары</a></li>
                <li><a href="#">Детский транспорт</a></li>
                <li><a href="#">Детская мебель</a></li>
                <li><a href="#">Для праздников</a></li>
                <li><a href="#">Для дома</a></li>
                <li><a href="#">Для лета</a></li>
                <li><a href="#">Kidigo</a></li>
              </ul>
            </columns>
            <columns small="12" large="4" class="special-image">
              <img class="text-center" src="https://image.ibb.co/hpY0RQ/recommendations_item_7.png" alt="recommendations-item-7.png">
            </columns>
          </row>
        </container>
        <container>
          <row><columns small="12" large="12" class="footer-border no-padding_vert"></columns></row>
          <row>
            <columns small="12" large="8" class="no-padding_vert">
              <p class="footer-txt">&copy; 2017 Гуртовня "Розумна іграшка"</p>
            </columns>
            <columns small="12" large="4" class="no-padding_vert">
              <a class="footer-txt unsubscribe-link" href="#">Отписаться от рассылки</a>
            </columns>
          </row>
        </container>
      </center>
    </td>
  </tr>
</table>

</body>
</html>